<!doctype html>
<title>Upload new File</title>
<style>
    .holder {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Heading {
        position: absolute;
    }
    #Form {
        position: relative;
        top: 100px;
    }
</style>
<div class="holder">
    <h1 id="Heading">Upload new File</h1>
    <form id="Form" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
<div>